*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI;
}

body{
    background:#f5f7fb;
}

.container{
    width:90%;
    margin:auto;
    padding:30px;
}

.header{
    margin-bottom:30px;
}

.header h1{
    color:#081c4b;
}

.cards{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.card{
    background:white;
    padding:25px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.card h2{
    color:#4f46e5;
    font-size:40px;
}

.chart-box{
    margin-top:40px;
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}